
/*############ [FOR NAV BAR POSITIONING] ############### */

body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #eeeeee;
}

/*########## [NAVBAR ANIMATIONS] ###############*/

.dark-bottom {
    background-color: #eeeeee;
}

/*###################################################### */
.spinner {
    margin: 8px auto 8px;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}


/* ################# [ZOOM IN EFFECT] ####################### */

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

/* ################## [STICKY ELEMENT] ##################### */

.sticky-elem {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
}

/* ################## [SHADOW EFFECT] ###################### */

.navbar-shadow {
    -webkit-box-shadow: -1px 14px 9px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 9px -14px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 9px -14px rgba(0,0,0,0.75);
}